# compiled files
/target
target.zip
# IntelliJ configuration folder
/.idea
# internal configuratrion
configuration.env
gandalf_update.ps1

trivia/src/main/java/com/mandarin/discord/json
/src/main/java/com/mandarin/discord/json/
